<?xml version="1.0"?>
<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="SalesMARS" connectionString="Data Source=SQL5003.site4now.net;Initial Catalog=DB_A4733C_fictionalretailer;User Id=DB_A4733C_fictionalretailer_admin;Password=P7h5887de8!;MultipleActiveResultSets=True;"/>
    <add name="SalesNOMARS" connectionString="Data Source=SQL5003.site4now.net;Initial Catalog=DB_A4733C_fictionalretailer;User Id=DB_A4733C_fictionalretailer_admin;Password=P7h5887de8!;"/>
    <add name="CityLookup" connectionString="Data Source=SQL5003.site4now.net;Initial Catalog=DB_A4733C_zipcodes;User Id=DB_A4733C_zipcodes_admin;Password=P7h5887de8!;MultipleActiveResultSets=True;"/>
  </connectionStrings>
</configuration>